/*Disable scrolling for the page.*/
html,body{
    overflow:hidden;
}

/*Set background color of page to light grey with 0.15 opacity.*/
body {
    background-color: rgba(204,204,204,0.15);
}
/*Font style for fixed logo on each page.*/
h1 {
	font-family:'Alegreya SC', serif;
	font-size: 2em;
	font-weight: 700;
}

ul {
  list-style-type: none;
}

/*Trip Pin font style for home page inline title.*/
.inline-title{
	font-family:'Alegreya SC', serif;
	color: rgba(154,205,255,0.8);
}

/*Default menu list style.*/
.menu {
	font-family:'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: rgba(44,77,108,0.5);
	text-align: center;
}

/*Modal style used in Contact Us.*/
.modal-title {
	font-family:'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	color: rgba(44,77,108,1);
	text-align: center;
}

.modal-body {
	font-family:'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 200;
	color: rgba(44,77,108,1);
	text-align: center;
}

/*Gallery image slideshow style.*/
.mySlides {
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

/*Font style for Start My Pin button.*/
.start-pin {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: 200;
	padding-top: 50px;
}


/*Container size for home page.*/
#home-container {
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 100%;
}

/*Landing page style.*/
#homepage {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	background-size: 100% 100%;
	color:rgba(255,255,255,0.9);
	z-index: 3;
}

#home-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 5em;
	text-align: center;
	font-weight: 800;
	padding-top: 30vh;
}

#home-intro {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: 300;
}

/*Container for map view in home page.*/
#map-view{
	position: fixed;
	top:0px;
	height: 100vh;
	width: 85%;
}

/*Container for log view in home page.*/
#log-view{
	position: relative;
	top:0px;
	height: 100vh;
	width: 15%;
	float: right;
	background-color: rgba(174,159,141,0.3);
	border-left: 1px solid rgba(154,205,255,0.8);
}

/*Style for log view.*/
#log-view-title {
	margin-top: 10px;
	margin-left: 40px;
	text-align: left;
	font-family:'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: rgba(44,77,108,1);
}

#pinned-country-list {
	list-style-type: outside;
	margin-top: 10px;
	font-family:'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: rgba(44,77,108,1);
	text-align: left;
}

/*Style for fixed location logo and menu.*/
#menu {
	position:fixed;
	margin-left: 20px;
	margin-top: 70vh;
	width: 150px;
	height: 200px;
	z-index: 2;
}

#logo {
	position:absolute;
	width: 150px;
	left: 20px;
	top: 20px;
	text-align: center;
	color: rgba(44,77,108,1);
	z-index: 2;
}

#logo img {
	width: 22px;
	height: 40px;
}

/*Container size for Views folder pages.*/
#views-container {
	position: fixed;
	top: 0px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: 100vh;
	background-color: rgba(174,159,141,0.3);
}

/*Style for About page.*/
#about-title {
	font-family:'Alegreya SC', serif;
	font-size: 5em;
	font-weight: 700;
	color: rgba(44,77,108,0.8);
	text-align: left;
	padding-top: 10vh;
	margin-bottom: 0em;
	margin-left: 100px;
}

#about-intro {
	font-family: 'Roboto', sans-serif;
	color: rgba(44,77,108,0.7);
	font-size: 1em;
	text-align: left;
	margin-top: 5vh;
	font-weight: 300;
	padding-left: 100px;
	padding-right: 100px;
	overflow: hidden;
}

#about-intro img {
	width: 50%;
	display: inline;
}

#about-intro span {
	display: block;
	padding-top: 50px;
	text-align: left;
}

/*Style for Gallery page.*/
#gallery-title {
	font-family:'Alegreya SC', serif;
	font-size: 5em;
	font-weight: 700;
	color: rgba(44,77,108,0.8);
	text-align: left;
	padding-top: 10vh;
	margin-bottom: 0em;
	margin-left: 100px;
}

#gallery-image {
	width: 100%;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}




















