<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="../../third_party/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/tripin.css">
	<link rel="icon" type="image/png" href="../../assets/browser_tab_img.png">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Open+Sans|Roboto:300,400" rel="stylesheet">
	<title>Trip Pin - About</title>
</head>

<body>
	<div id="home-container">
		<!-- Fixed location logo and menu. -->
		<div id="logo">
			<h1><img src="../../assets/logo2.png" alt="Trip Pin logo"> Trip Pin</h1>
		</div>

		<div id="menu">
			<p class="menu"><a href="../../index.html">Home</a></p>
			<p class="menu"><a href="gallery.html">Gallery</a></p>
			<p class="menu"><a href="" data-toggle="modal" data-target="#contactUsModal">Contact Us</a></p>
		</div>

		<!-- Contact Us Modal -->
		<div class="modal fade" id="contactUsModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Contact Us</h4>
					</div>
					<div class="modal-body">
						<p>Via e-mail: <br> kchang13@art.edu</p>
						<br>
						<p>Via phone: <br> 607-379-9396</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About us introduction -->
	<div id="views-container">
		<p id="about-title">Hello</p>
		<p id="about-intro">
			<img src="../../assets/aboutImg.jpg" alt="About Us Image">
			<span>My name is Kati Chang. I am an outdoor enthusiast, an active yogi, and an Android user experience researcher. I started doing outdoor odysseys since October 2014. Till now, I have backpacked at Yosemite in California, Olympic National Park in Washington and Glacier National Park in Montana. </span>
		</p>
	</div>	

	<!-- dependencies -->
	<script src="../../third_party/jquery/jquery-3.1.1.min.js"></script>
	<script src="../../third_party/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>